.container {
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
}

.control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.control input {
  min-height: 1.5rem;
}

.graphContainer {
  margin-top: 4rem;
}

.graphTooltip {
  display: flex;
  flex-direction: column;
}
