.container {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
}

.control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.control input {
  min-height: 2rem;
}

.graphContainer {
  margin-top: 4rem;
}

.graphTooltip {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.85);
  padding: 1rem;
  border: 1px solid #4f48e2;
  font-size: small;
  box-shadow: 0 0 2px white;
  border-radius: 5px;
  gap: 5px;
}
