.formContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 2rem;
  border-radius: 1rem;
}

.formContainer > * {
  margin: 0.5rem;
}

.formContainer input, .formContainer button {
  min-width: 5rem;
  min-height: 2rem;
}
